* {
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', 'Meiryo', 'Hiragino Sans', sans-serif;
	color: #000E16;
	font-size: 16px;
}

#center {
	width: 920px;
	margin: 0 auto;
}

#contents {
	margin: 1rem 2rem;
}

h1 {
	border-bottom: 2px solid #ddd;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#elm-area {
	display: block;
	margin: 1em auto;
	background: #eee;
}

#elm-area .svg-wrapper {
	position: relative;
	text-align: center;
}

#elm-area .tile {
	font-family: 'Noto Sans Symbols 2';
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}

#elm-area .blend-lighten {
	mix-blend-mode: lighten;
}

#elm-area button {
	font-size: 18px;
	min-width: 80px;
	margin: 12px;
}

#elm-area label input[type=checkbox] {
	font-size: 18px;
	margin: 2px 6px 2px 12px;
}

#elm-area .completed {
	color: #155724;
	background-color: #d4edda;
	border-color: #155724;
}

#elm-area .jamed {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #721c24;
}

#elm-area .completed,.jamed {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 90px;
	height:30px;

	font-size: 20px;
	padding: .75rem 1.25rem;
	border: 1px solid;
	border-radius: .3rem;

	animation-name:popup_anime;
	animation-duration:0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode:forwards;
	opacity:0;
}
@keyframes popup_anime{
  from {
    opacity: 0;
  transform: translateY(30px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

#elm-area .none {
	display: none;
}