* {
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', 'Meiryo', 'Hiragino Sans', sans-serif;
	color: #000E16;
	font-size: 16px;
}

#center {
	width: 920px;
	margin: 0 auto;
}

#contents {
	margin: 1rem 2rem;
}

h1 {
	border-bottom: 2px solid #ddd;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#elm-area {
	display: block;
	margin: 1em auto;
	background: #eee;
}

#elm-area .svg-wrapper {
	text-align: center;
}

#elm-area .tile {
	font-family: 'Noto Sans Symbols 2';
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}

#elm-area button {
	font-size: 18px;
	min-width: 80px;
	margin: 12px;
}